<div class="widget_related_products">
  <h3>{{ 'product_same_category.label'|trans }}</h3>
  <div class="widget_content">
    {% if productsRelated is defined and productsRelated %}
     <ul class="row product_listing_main product_listing_related">
      {% for item in productsRelated %}
        <li class="wow col-sm-3 product product__{{ item.id }} animated">
           <div class="prod_inside clearfix">
              <div class="product_img">
                 <a href="{{ url('front_product_detail', {'category': item.catSlug, 'slug': item.slug}) }}" title="{{ item.name }}"><img src="{{ item.mainImg }}" alt="{{ item.name }}"></a>
              </div>
              <div class="product_info">
                 <div class="product_name"><a href="{{ url('front_product_detail', {'category': item.catSlug, 'slug': item.slug}) }}" title="{{ item.name }}">{{ item.name }}</a></div>
                 <div class="product_price">
                  {% if item.specPrice is defined and item.specPrice %}
                    <span class="money">{{ item.specPrice }}</span>
                  {% else %}
                    <span class="money">{{ item.price }}</span>
                  {% endif %}
                 </div>
              </div>
           </div>
        </li>
        {% endfor %}
     </ul>
     {% endif %}
  </div>
</div>