{% if banners is defined and banners.left is defined and banners.left %}
  {% for left_banner in banners.left %}
    <div class="widget wow widget_banner animated">
      <a href="{{ left_banner.link|default('#') }}">
        <div class="ins">
          <h4>{{ left_banner.title }}</h4>
        </div>
        <img src="{{ banner_path }}/{{ left_banner.image }}" alt="{{ left_banner.title }}">
      </a>
    </div>
  {% endfor %}
{% endif %}