<div style="width:600px">
    <div style="text-align:center;margin-bottom:1em">
        <h3 style="font-size:14pt">{{ 'contact_title.label'|trans }}</h3>
    </div>
    <table cellpadding="5" cellspacing="0" style="text-align: center; width:100%;">
        <tbody>
        <tr>
            <td style="text-align: right;"><b>Tên khách hàng</b></td>
            <td colspan="3">{{ name }}</td>
        </tr>
        <tr>
            <td style="text-align: right;"><b>Điện thoại</b></td>
            <td colspan="3">{{ phone }}</td>
        </tr>
        <tr>
            <td style="text-align: right;"><b>Email</b></td>
            <td colspan="3">{{ from }}</td>
        </tr>
        <tr>
            <td style="text-align: right;"><b>Lời nhắn</b></td>
            <td colspan="3">{{ note }}</td>
        </tr>
        </tbody>
    </table>
</div>