<footer>
   <div class="footer_top">
      <div class="container">
         <div class="row">
            <div class="col-sm-4 col-xs-12 footer_block footer_block__1 wow animated">
               <h3>{{ global_configs.wsName }}</h3>
               <div class="copyright">
                  <p role="contentinfo">{{ global_configs.wsCopyright }}</p>
               </div>
            </div>
            <div class="col-sm-2 col-xs-4 footer_block footer_block__2 wow animated">
               <ul>
                  <li><a href="{{ url('front_homepage') }}" class="active">{{ 'homepage.label'|trans }}</a></li>
                  <li><a href="{{ url('front_contact_us') }}">{{ 'contact_us.label'|trans }}</a></li>
               </ul>
            </div>

            {% if megaMenu is defined and megaMenu %}
            <div class="col-sm-2 col-xs-4 footer_block wow animated">
               <ul>
               {% for menu in megaMenu %}
               {% if menu.info.pid is null %}
                  {% if (loop.index-1) is divisible by(5) and loop.index > 5 %}
                     </ul></div><div class="col-sm-2 col-xs-4 footer_block wow animated"><ul>
                  {% endif %}
                     <li class="active"><a href="{{ url('front_category', {'slug': menu.info.slug}) }}">{{ menu.info.name }}</a></li>
               {% endif %}   
               {% endfor %}
               </ul>
            </div>
            {% endif %}
         </div>
      </div>
   </div>
   <div class="container">
      <div class="footer_block__5 wow animated">
         <ul>
            <li class="contacts_address">{{ global_configs.wsAddress }}</li>
            <li class="contacts_phone"><span>{{ 'website_phone.label'|trans }}:</span>{{ global_configs.wsPhone }}</li>
         </ul>
      </div>
   </div>
</footer>