<div class="header_main wow animated">
   <!-- LOGO -->
   <div id="logo">
      <a href="{{ url('front_homepage') }}">
         <img src="{{ asset('assets/images/logo.png') }}" alt="{{ global_configs.wsName }}">
         <div class="ins">
            <b>{{ global_configs.wsName }}</b>
            <span>{{ global_configs.wsSlogan }}</span>
         </div>
      </a>
   </div>
   <!-- HEADER SEARCH -->
   <div class="header_search">
      <form action="#search" method="get" class="search-form" role="search">
         <input id="search-field" name="q" type="text" placeholder=" " class="hint">
         <button id="search-submit" type="submit"><i class="fa fa-search"></i></button>
      </form>
   </div>
</div>