<!DOCTYPE html>
<html class="desktop landscape">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <title>Flowers store | Flowers store</title>
      <link rel="canonical" href="https://sunnyflowers.org/">
      <link href="#favicon.ico" rel="shortcut icon" type="image/x-icon">
      <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all">
      <link href="{{ asset('assets/css/assets.css') }}" rel="stylesheet" type="text/css" media="all">
      <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css" media="all">
      <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet" type="text/css" media="all">
      <link href="{{ asset('assets/css/font-awesome.css') }}" rel="stylesheet" type="text/css" media="all">
      <script src="{{ asset('assets/js/jquery.min.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/jquery-migrate-1.2.1.min.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/api.jquery.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/device.min.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/jquery.easing.1.3.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/ajaxify-shop.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/hoverIntent.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/superfish.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/sftouchscreen.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/tm-stick-up.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/jquery.ui.totop.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/jquery.formstyler.min.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/wow.min.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/jquery.nivoslider.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/jquery.bxslider.min.js') }}" type="text/javascript"></script>
      <link href="{{ asset('assets/css/animate.css') }}" rel="stylesheet" type="text/css" media="all">
      <link rel="stylesheet" href="{{ asset('assets/css/theme.css') }}" type="text/css">
   </head>
   <body id="flowers-store" class="template-index">
      <!--[if lt IE 9]>
      <div class="old_browsers"><a href="//windows.microsoft.com/en-us/internet-explorer/download-ie"><i class="fa fa-warning"></i>You are using an outdated version of Internet Explorer. Upgrade today for a faster, safer browsing experience.</a></div>
      <![endif]-->
      <div id="wrapper">
         <div id="wrapper2">
            <!-- HEADER -->
            <header id="header">
               <div class="container">
                  <div class="header_top wow animated">
                     <!-- USER MENU -->
                     <ul class="header_user">
                        <li><i class="fa fa-lock"></i><a href="#login" id="customer_login_link">Log in</a></li>
                        <li><i class="fa fa-user"></i><a href="#register" id="customer_register_link">Create an account</a></li>
                     </ul>
                     <!-- HEADER CART -->
                     <div class="header_cart">
                        <a href="#cart"><i class="fa fa-shopping-cart"></i><b>Cart:</b><span class="cart-total-items"><span class="count">0</span></span><span>items</span></a>
                     </div>
                  </div>
                  <div class="header_main wow animated">
                     <!-- LOGO -->
                     <div id="logo">
                        <a href="/">
                           <img src="{{ asset('assets/images/logo.png') }}" alt="Sunny Flowers">
                           <div class="ins">
                              <b>Sunny Flowers</b>
                              <span>The biggest choice on the web</span>
                           </div>
                        </a>
                     </div>
                     <!-- HEADER SEARCH -->
                     <div class="header_search">
                        <form action="#search" method="get" class="search-form" role="search">
                           <input id="search-field" name="q" type="text" placeholder=" " class="hint">
                           <button id="search-submit" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                     </div>
                  </div>
               </div>
            </header>
            <!-- MEGAMENU -->
            <div id="megamenu" class="isStuck">
               <div class="container">
                  <ul class="sf-menu megamenu_desktop">
                     <li class="megamenu__1">
                        <a href="#" class="active">Home</a>
                     </li>
                     <li class="megamenu__2">
                        <a href="#all">Products<span class="menu_badge">hot deals</span></a>
                        <ul>
                           <li>
                              <div class="submenu">
                                 <div class="row">
                                    <div class="col-sm-3">
                                       <h3><a href="#congratulation">Congratulation</a></h3>
                                       <ul>
                                          <li><a href="#asiatic-lilies">Asiatic Lilies</a></li>
                                          <li><a href="#blooming-12-long-stemmed-assorted-rose-bouquet">Blooming 12 Long ...</a></li>
                                          <li><a href="#bouquet-of-long-stemmed-roses-dozen-with-vase">Bouquet of Long S...</a></li>
                                          <li><a href="#calla-lilies-with-matching-greens">Calla Lilies with...</a></li>
                                          <li><a href="#classic-roses">Classic Roses</a></li>
                                       </ul>
                                    </div>
                                    <div class="col-sm-3">
                                       <h3><a href="#corporate">Corporate</a></h3>
                                       <ul>
                                          <li><a href="#classic-roses">Classic Roses</a></li>
                                          <li><a href="#coffee-cup-planter">Coffee Cup Planter</a></li>
                                          <li><a href="#eforcase-refreshing-calla-lily-bridal-wedding-bouquet-flower-bouquets">Eforcase Refreshi...</a></li>
                                          <li><a href="#flowering-fields-bouquet-with-vase">Flowering Fields ...</a></li>
                                          <li><a href="#nearly-natural-29-in-set-of-12-african-lily-stems">Nearly Natural 29...</a></li>
                                       </ul>
                                    </div>
                                    <div class="col-sm-3">
                                       <h3><a href="#family">Family</a></h3>
                                       <ul>
                                          <li><a href="#nearly-natural-29-in-set-of-12-african-lily-stems">Nearly Natural 29...</a></li>
                                          <li><a href="#purifying-peace-lily-round-tin-pot">Purifying Peace L...</a></li>
                                          <li><a href="#smile-and-shine-bouquet-by-teleflora">Smile And Shine B...</a></li>
                                          <li><a href="#telefloras-enchanted-cottage">Teleflora's Encha...</a></li>
                                          <li><a href="#telefloras-fall-in-love">Teleflora's Fall ...</a></li>
                                       </ul>
                                    </div>
                                    <div class="col-sm-3">
                                       <h3><a href="#get-well">Get well</a></h3>
                                       <ul>
                                          <li><a href="#bouquet-of-long-stemmed-roses-dozen-with-vase">Bouquet of Long S...</a></li>
                                          <li><a href="#calla-lilies-with-matching-greens">Calla Lilies with...</a></li>
                                          <li><a href="#classic-roses">Classic Roses</a></li>
                                          <li><a href="#coffee-cup-planter">Coffee Cup Planter</a></li>
                                          <li><a href="#eforcase-refreshing-calla-lily-bridal-wedding-bouquet-flower-bouquets">Eforcase Refreshi...</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </li>
                     <li class="megamenu__5">
                        <a href="#about-us">About us<span class="menu_badge">our team</span></a>
                     </li>
                     <li class="megamenu__6">
                        <a href="#contact-us">Contact us</a>
                     </li>
                  </ul>
               </div>
            </div>
            
            <!-- NIVOSLIDER -->
            <div class="slider_parallax_wr">
               <div class="slider_wrap">
                  <div class="nivoSlider">
                     <a href="#asiatic-lilies" class="nivo-imageLink">
                     <img src="{{ asset('assets/images/slide1_image.jpg') }}" alt="" title="#htmlcaption-1">
                     </a>
                     <a href="#/blooming-12-long-stemmed-assorted-rose-bouquet" class="nivo-imageLink">
                     <img src="{{ asset('assets/images/slide2_image.jpg') }}" alt="" title="#htmlcaption-2">
                     </a>
                     <a href="#bouquet-of-long-stemmed-roses-dozen-with-vase" class="nivo-imageLink">
                     <img src="{{ asset('assets/images/slide3_image.jpg') }}" alt="" title="#htmlcaption-3">
                     </a>
                    </div>
               </div>
            </div>
            <div class="caption_hidden">
               <div id="htmlcaption-1">
                  <a href="#products/asiatic-lilies">
                     <div class="nivo-ins">
                        <div class="container">
                           <div class="nivo-bg">
                              <h3>Flowers are the</h3>
                              <h2>sweetest things God ever made</h2>
                              <span class="btn_slider">shop now!</span>
                           </div>
                        </div>
                     </div>
                  </a>
               </div>
               <div id="htmlcaption-2">
                  <a href="#products/blooming-12-long-stemmed-assorted-rose-bouquet">
                     <div class="nivo-ins">
                        <div class="container">
                           <div class="nivo-bg">
                              <h3>20% Off</h3>
                              <h2>on every item over $ 300</h2>
                              <span class="btn_slider">shop now!</span>
                           </div>
                        </div>
                     </div>
                  </a>
               </div>
               <div id="htmlcaption-3">
                  <a href="#products/bouquet-of-long-stemmed-roses-dozen-with-vase">
                     <div class="nivo-ins">
                        <div class="container">
                           <div class="nivo-bg">
                              <h3>Return the Love on</h3>
                              <h2>Mother’s Day</h2>
                              <span class="btn_slider">shop now!</span>
                           </div>
                        </div>
                     </div>
                  </a>
               </div>
            </div>
            <script type="text/javascript">
               $(document).ready(function() {
                 $('.nivoSlider').nivoSlider({
                   effect:'fade',
                   animSpeed:500,
                   pauseTime:7000,
                   startSlide:0,
                   pauseOnHover:true,
                   directionNav:false,
                   directionNavHide:false,
                   controlNav:true
                 });
               
                 if(device.desktop() && $(window).width() >= 1200){
                       // PARALLAX INIT
                       $(window).bind('scroll',function(e){
                         parallaxScroll1();
                       });
               
                       function parallaxScroll1(){
                         var scrolled = $(window).scrollTop();
                         $('.slider_parallax_wr .slider_wrap').css('top',(-190+(scrolled*.9))+'px');
                         $('.slider_parallax_wr .nivo-controlNav').css('top',(760-(scrolled*.9))+'px');
                         $('.slider_parallax_wr .nivo-caption').css('top',(802-(scrolled*.9))+'px');
                       }
                     };
                   });
                 
            </script>
            <div class="container">
               <!-- SHOWCASE CUSTOM BLOCKS -->
               <div id="showcase">
                  <div class="parallax_box" style="background-position: 50% 210px;">
                     <div class="row">
                        <div class="col-sm-12 custom_showcase opacity_block">
                           <a href="#products/bouquet-of-long-stemmed-roses-dozen-with-vase">
                              <div class="ins wow animated" style="visibility: visible;">
                                 <h4>Find the freshest flowers and hand tied</h4>
                                 <h3>bouquets for all occasions</h3>
                              </div>
                           </a>
                        </div>
                     </div>
                     <script type="text/javascript">
                        (function($) {
                          if(device.desktop() && $(window).width() >= 1200){
                        // PARALLAX INIT
                        $(window).load(function() {
                        $('.parallax_box').parallax("50%", -0.4);
                        });
                        
                        };
                        })(jQuery);
                     </script>
                  </div>
               </div>
            </div>
            <!-- MAIN CONTENT -->
            <div id="main" role="main">
               <div class="container">
                  <div class="row sidebar_left ">
                     <div class="column_center">
                        <div id="main_content" class="col-sm-9">
                           <div class="index-scope">
                              <h2 class="page_heading">Featured products</h2>
                              <p class="heading_text"></p>
                              <div class="product-listing__index">
                                 <div class="product_listing_main">
                                    <div class="row">
                                       <div class="wow col-sm-4 
                                          product product__1 animated" style="visibility: visible;">
                                          <div class="prod_inside clearfix">
                                             <div class="product_img">
                                                <a class="img_change" href="#products/asiatic-lilies">
                                                <span class="ins">
                                                <img src="{{ asset('assets/images/asiatic_lilies_1_medium.png') }}" alt="Asiatic Lilies">
                                                <img class="img__2" src="{{ asset('assets/images/asiatic_lilies_2_medium.png') }}" alt="Asiatic Lilies">
                                                </span>
                                                <span class="product_badge sale">Sale</span>
                                                <span class="product_badge new">New</span>
                                                </a>
                                             </div>
                                             <div class="product_info">
                                                <div class="product_price">
                                                   <span class="money" data-currency-usd="$15.00">$15.00</span>
                                                   <span class="money compare-at-price" data-currency-usd="$20.00">$20.00</span>
                                                </div>
                                                <div class="product_name">
                                                   <a href="#products/asiatic-lilies">Asiatic Lilies</a>
                                                </div>
                                                <div class="product_desc">What do we do when we want ...</div>
                                                <div class="product_links">
                                                   <!-- 
                                                      This is just a regular add product form. 
                                                      You should be able to add any valid input fields to it 
                                                      -->
                                                   <form method="post" action="#cart/add">
                                                      <!-- We can leave this in, since the select comes later, 
                                                         so it will override if user picks something different. -->
                                                      <input type="hidden" name="id" value="1166524912">
                                                      <!-- START BUY -->
                                                      <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i></button>
                                                      <!-- END BUY -->
                                                   </form>
                                                   <a class="btn" href="#products/asiatic-lilies"><i class="fa fa-info-circle"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="wow col-sm-4 
                                          product product__2 animated" style="visibility: visible;">
                                          <div class="prod_inside clearfix">
                                             <div class="product_img">
                                                <a class="img_change" href="#products/blooming-12-long-stemmed-assorted-rose-bouquet">
                                                <span class="ins">
                                                <img src="{{ asset('assets/images/blooming_12_long_stemmed_assorted_rose_bouquet_1_medium.png') }}" alt="Blooming 12 Long Stemmed Assorted Rose Bouquet">
                                                <img class="img__2" src="{{ asset('assets/images/blooming_12_long_stemmed_assorted_rose_bouquet_2_medium.png') }}" alt="Blooming 12 Long Stemmed Assorted Rose Bouquet">
                                                </span>
                                                <span class="product_badge new">New</span>
                                                </a>
                                             </div>
                                             <div class="product_info">
                                                <div class="product_price">
                                                   <span class="money" data-currency-usd="$16.00">$16.00</span>
                                                </div>
                                                <div class="product_name">
                                                   <a href="#products/blooming-12-long-stemmed-assorted-rose-bouquet">Blooming 12 Long Stemm...</a>
                                                </div>
                                                <div class="product_desc">We send a card, a gift or s...</div>
                                                <div class="product_links">
                                                   <!-- 
                                                      This is just a regular add product form. 
                                                      You should be able to add any valid input fields to it 
                                                      -->
                                                   <form method="post" action="#cart/add">
                                                      <!-- We can leave this in, since the select comes later, 
                                                         so it will override if user picks something different. -->
                                                      <input type="hidden" name="id" value="1166525040">
                                                      <!-- START BUY -->
                                                      <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i></button>
                                                      <!-- END BUY -->
                                                   </form>
                                                   <a class="btn" href="#products/blooming-12-long-stemmed-assorted-rose-bouquet"><i class="fa fa-info-circle"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="wow col-sm-4 
                                          product product__3 animated" style="visibility: visible;">
                                          <div class="prod_inside clearfix">
                                             <div class="product_img">
                                                <a class="img_change" href="#products/bouquet-of-long-stemmed-roses-dozen-with-vase">
                                                <span class="ins">
                                                <img src="{{ asset('assets/images/bouquet_of_long_stemmed_roses__dozen__-_with_vase_1_medium.png') }}" alt="Bouquet of Long Stemmed Roses (Dozen) - With Vase">
                                                <img class="img__2" src="{{ asset('assets/images/bouquet_of_long_stemmed_roses__dozen__-_with_vase_2_medium.png') }}" alt="Bouquet of Long Stemmed Roses (Dozen) - With Vase">
                                                </span>
                                                <span class="product_badge new">New</span>
                                                </a>
                                             </div>
                                             <div class="product_info">
                                                <div class="product_price">
                                                   <span class="money" data-currency-usd="$17.00">$17.00</span>
                                                </div>
                                                <div class="product_name">
                                                   <a href="#products/bouquet-of-long-stemmed-roses-dozen-with-vase">Bouquet of Long Stemme...</a>
                                                </div>
                                                <div class="product_desc">But the most traditional th...</div>
                                                <div class="product_links">
                                                   <!-- 
                                                      This is just a regular add product form. 
                                                      You should be able to add any valid input fields to it 
                                                      -->
                                                   <form method="post" action="#cart/add">
                                                      <!-- We can leave this in, since the select comes later, 
                                                         so it will override if user picks something different. -->
                                                      <input type="hidden" name="id" value="1166525216">
                                                      <!-- START BUY -->
                                                      <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i></button>
                                                      <!-- END BUY -->
                                                   </form>
                                                   <a class="btn" href="#products/bouquet-of-long-stemmed-roses-dozen-with-vase"><i class="fa fa-info-circle"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="product_listing_main">
                                    <div class="row">
                                       <div class="wow col-sm-4 
                                          product product__1 animated" style="visibility: visible;">
                                          <div class="prod_inside clearfix">
                                             <div class="product_img">
                                                <a class="img_change" href="#products/calla-lilies-with-matching-greens">
                                                <span class="ins">
                                                <img src="{{ asset('assets/images/calla_lilies_with_matching_greens_1_medium.png') }}" alt="Calla Lilies with Matching Greens">
                                                <img class="img__2" src="{{ asset('assets/images/calla_lilies_with_matching_greens_2_medium.png') }}" alt="Calla Lilies with Matching Greens">
                                                </span>
                                                <span class="product_badge sale">Sale</span>
                                                <span class="product_badge new">New</span>
                                                </a>
                                             </div>
                                             <div class="product_info">
                                                <div class="product_price">
                                                   <span class="money" data-currency-usd="$18.00">$18.00</span>
                                                   <span class="money compare-at-price" data-currency-usd="$25.00">$25.00</span>
                                                </div>
                                                <div class="product_name">
                                                   <a href="#products/calla-lilies-with-matching-greens">Calla Lilies with Matc...</a>
                                                </div>
                                                <div class="product_desc">Flowers are universal gift ...</div>
                                                <div class="product_links">
                                                   <!-- 
                                                      This is just a regular add product form. 
                                                      You should be able to add any valid input fields to it 
                                                      -->
                                                   <form method="post" action="#cart/add">
                                                      <!-- We can leave this in, since the select comes later, 
                                                         so it will override if user picks something different. -->
                                                      <input type="hidden" name="id" value="1166525272">
                                                      <!-- START BUY -->
                                                      <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i></button>
                                                      <!-- END BUY -->
                                                   </form>
                                                   <a class="btn" href="#products/calla-lilies-with-matching-greens"><i class="fa fa-info-circle"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="wow col-sm-4 
                                          product product__2 animated" style="visibility: visible;">
                                          <div class="prod_inside clearfix">
                                             <div class="product_img">
                                                <a class="img_change" href="#products/classic-roses">
                                                <span class="ins">
                                                <img src="{{ asset('assets/images/classic_roses_1_medium.png') }}" alt="Classic Roses">
                                                <img class="img__2" src="{{ asset('assets/images/classic_roses_2_medium.png') }}" alt="Classic Roses">
                                                </span>
                                                <span class="product_badge new">New</span>
                                                </a>
                                             </div>
                                             <div class="product_info">
                                                <div class="product_price">
                                                   <span class="money" data-currency-usd="$19.00">$19.00</span>
                                                </div>
                                                <div class="product_name">
                                                   <a href="#products/classic-roses">Classic Roses</a>
                                                </div>
                                                <div class="product_desc">Flowers are unique and they...</div>
                                                <div class="product_links">
                                                   <!-- 
                                                      This is just a regular add product form. 
                                                      You should be able to add any valid input fields to it 
                                                      -->
                                                   <form method="post" action="#cart/add">
                                                      <!-- We can leave this in, since the select comes later, 
                                                         so it will override if user picks something different. -->
                                                      <input type="hidden" name="id" value="1166525328">
                                                      <!-- START BUY -->
                                                      <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i></button>
                                                      <!-- END BUY -->
                                                   </form>
                                                   <a class="btn" href="#products/classic-roses"><i class="fa fa-info-circle"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="wow col-sm-4 
                                          product product__3 animated" style="visibility: visible;">
                                          <div class="prod_inside clearfix">
                                             <div class="product_img">
                                                <a class="img_change" href="#products/coffee-cup-planter">
                                                <span class="ins">
                                                <img src="{{ asset('assets/images/coffee_cup_planter_1_medium.png') }}" alt="Coffee Cup Planter">
                                                <img class="img__2" src="{{ asset('assets/images/coffee_cup_planter_2_medium.png') }}" alt="Coffee Cup Planter">
                                                </span>
                                                <span class="product_badge new">New</span>
                                                </a>
                                             </div>
                                             <div class="product_info">
                                                <div class="product_price">
                                                   <span class="money" data-currency-usd="$20.00">$20.00</span>
                                                </div>
                                                <div class="product_name">
                                                   <a href="#products/coffee-cup-planter">Coffee Cup Planter</a>
                                                </div>
                                                <div class="product_desc">They are one of the best na...</div>
                                                <div class="product_links">
                                                   <form method="post" action="#cart/add">
                                                      <input type="hidden" name="id" value="1166525452">
                                                      <!-- START BUY -->
                                                      <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i></button>
                                                      <!-- END BUY -->
                                                   </form>
                                                   <a class="btn" href="#products/coffee-cup-planter"><i class="fa fa-info-circle"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="column_left column col-sm-3">
                        <div class="widget widget_best_sellers">
                           <h3 class="widget_header">Best Sellers</h3>
                           <div class="widget_content">
                              <div class="product_listing_sidebar">
                                 <div class="wow product animated" style="visibility: visible;">
                                    <div class="prod_inside clearfix">
                                       <div class="product_img">  
                                          <a href="#products/telefloras-fall-in-love">
                                          <img src="{{ asset('assets/images/telefloras_fall_in_love_1_medium.png') }}" alt="Teleflora&#39;s Fall in Love">
                                          </a>
                                       </div>
                                       <div class="product_info">
                                          <div class="product_price">
                                             <span class="money" data-currency-usd="$27.00">$27.00</span>
                                          </div>
                                          <div class="product_name">
                                             <a href="#products/telefloras-fall-in-love">Teleflora's Fall in Love</a>
                                          </div>
                                          <div class="product_desc">Besides that they have othe...</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="widget wow widget_banner animated" style="visibility: visible;">
                           <a href="#products/blooming-12-long-stemmed-assorted-rose-bouquet">
                              <div class="ins">
                                 <h3>-30<span>%</span></h3>
                                 <h4>for spring flowers</h4>
                              </div>
                              <img src="{{ asset('assets/images/banner.png') }}" alt="-30 -30">
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="bg_video_container">
                  <div class="bg_video_image">
                     <img src="{{ asset('assets/images/maxresdefault.jpg') }}" alt="Youtube video">
                  </div>
               </div>
            </div>
            <script src="{{ asset('assets/js/jquery.mb.YTPlayer.js') }}" type="text/javascript"></script>
            <script type="text/javascript">
               (function($) {
                 if(device.desktop()){
                   $("#bg_video").mb_YTPlayer();
                 };
               })(jQuery);
            </script>
            <div class="container">
               <div class="custom_bottom wow animated" style="visibility: visible;">
                  <div class="parallax_box1" style="background-position: right -19px;">
                     <a href="#products/blooming-12-long-stemmed-assorted-rose-bouquet">
                     <span class="title1">Hot Offer!</span>
                     <span class="title2">Fast Same Day Delivery</span>
                     </a>
                  </div>
                  <script type="text/javascript">
                     (function($) {
                       if(device.desktop() && $(window).width() >= 1200){
                         // PARALLAX INIT
                         $(window).load(function() {
                           $('.parallax_box1').parallax("right", -0.2);
                         });
                     
                       };
                     })(jQuery);
                  </script>
               </div>
            </div>
            <!-- FOOTER -->
            <footer>
               <div class="footer_top">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-4 col-xs-12 footer_block footer_block__1 wow animated" style="visibility: visible;">
                           <h3>Flowers Store</h3>
                           <div class="copyright">
                              <p role="contentinfo">© 2017 Flowers store. All Rights Reserved. Design by az</p>
                           </div>
                           <div class="instagram_wr act">
                              <h6>follow us on instagram</h6>
                              <div id="instafeed"></div>
                           </div>
                        </div>
                        <div class="col-sm-2 col-xs-4 footer_block footer_block__2 wow animated" style="visibility: visible;">
                           <ul>
                              <li class="active"><a href="#" title="">Home</a></li>
                              <li><a href="#search" title="">Search</a></li>
                              <li><a href="#pages/about-us" title="">About Us</a></li>
                              <li><a href="#pages/contact-us" title="">Contact us</a></li>
                              <li><a href="#pages/documentation" title="">Documentation</a></li>
                              <li><a href="#blogs/blog" title="">Blog</a></li>
                              <li><a href="#collections/all" title="">Products</a></li>
                           </ul>
                        </div>
                        <div class="col-sm-2 col-xs-4 footer_block footer_block__3 wow animated" style="visibility: visible;">
                           <ul>
                              <li><a href="#collections/congratulation" title="">Congratulation</a></li>
                              <li><a href="#collections/corporate" title="">Corporate</a></li>
                              <li><a href="#collections/family" title="">Family</a></li>
                              <li><a href="#collections/get-well" title="">Get well</a></li>
                              <li><a href="#collections/funeral" title="">Funeral</a></li>
                              <li><a href="#collections/love" title="">Love</a></li>
                              <li><a href="#collections/mixed" title="">Mixed</a></li>
                           </ul>
                        </div>
                        <div class="col-sm-2 col-xs-4 footer_block footer_block__4 wow animated" style="visibility: visible;">
                           <ul>
                              <li><a href="#"><span>Twitter</span></a></li>
                              <li><a href="#"><span>Facebook</span></a></li>
                              <li><a href="#"><span>Youtube</span></a></li>
                              <li><a href="#"><span>Pinteresrt</span></a></li>
                              <li><a href="#"><span>Google+</span></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="container">
                  <div class="footer_block__5 wow animated" style="visibility: visible;">
                     <ul>
                        <li class="contacts_address">123 St ABC, US</li>
                        <li class="contacts_phone"><span>Phone:</span>+1 800 559 6580</li>
                     </ul>
                  </div>
               </div>
            </footer>
         </div>
         <!-- / #wrapper2 -->
      </div>
      <!-- / #wrapper -->
      <div class="cart_popup" style="top: 67px;">Product Added to Cart</div>
      <script src="{{ asset('assets/js/shop.js') }}" type="text/javascript"></script>
      <script src="{{ asset('assets/js/jquery.parallax.js') }}" type="text/javascript"></script>
   </body>
</html>