{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block main %}
<div id="main" role="main">
<div class="container">
<div class="row sidebar_left ">
{% block column_center %}
<div class="column_center">
<div id="main_content" class="col-sm-9">
<div class="index-scope">
<h2 class="page_heading">Featured products</h2>
<p class="heading_text"></p>
<div class="product-listing__index">
<div class="product_listing_main">
   <div class="row">
      <div class="wow col-sm-4 
         product product__1 animated">
         <div class="prod_inside clearfix">
            <div class="product_img">
               <a class="img_change" href="#products/asiatic-lilies">
               <span class="ins">
               <img src="{{ asset('assets/images/asiatic_lilies_1_medium.png') }}" alt="Asiatic Lilies">
               <img class="img__2" src="{{ asset('assets/images/asiatic_lilies_2_medium.png') }}" alt="Asiatic Lilies">
               </span>
               <span class="product_badge sale">Sale</span>
               <span class="product_badge new">New</span>
               </a>
            </div>
            <div class="product_info">
               <div class="product_price">
                  <span class="money" data-currency-usd="$15.00">$15.00</span>
                  <span class="money compare-at-price" data-currency-usd="$20.00">$20.00</span>
               </div>
               <div class="product_name">
                  <a href="#products/asiatic-lilies">Asiatic Lilies</a>
               </div>
               <div class="product_desc">What do we do when we want ...</div>
               <div class="product_links">
                  <form method="post" action="#cart/add">
                     <input type="hidden" name="id" value="1166524912">
                     <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i></button>
                  </form>
                  <a class="btn" href="#products/asiatic-lilies"><i class="fa fa-info-circle"></i></a>
               </div>
            </div>
         </div>
      </div>
      <div class="wow col-sm-4 
         product product__2 animated">
         <div class="prod_inside clearfix">
            <div class="product_img">
               <a class="img_change" href="#products/blooming-12-long-stemmed-assorted-rose-bouquet">
               <span class="ins">
               <img src="{{ asset('assets/images/blooming_12_long_stemmed_assorted_rose_bouquet_1_medium.png') }}" alt="Blooming 12 Long Stemmed Assorted Rose Bouquet">
               <img class="img__2" src="{{ asset('assets/images/blooming_12_long_stemmed_assorted_rose_bouquet_2_medium.png') }}" alt="Blooming 12 Long Stemmed Assorted Rose Bouquet">
               </span>
               <span class="product_badge new">New</span>
               </a>
            </div>
            <div class="product_info">
               <div class="product_price">
                  <span class="money" data-currency-usd="$16.00">$16.00</span>
               </div>
               <div class="product_name">
                  <a href="#products/blooming-12-long-stemmed-assorted-rose-bouquet">Blooming 12 Long Stemm...</a>
               </div>
               <div class="product_desc">We send a card, a gift or s...</div>
               <div class="product_links">
                  <form method="post" action="#cart/add">
                     <input type="hidden" name="id" value="1166525040">
                     <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i></button>
                  </form>
                  <a class="btn" href="#products/blooming-12-long-stemmed-assorted-rose-bouquet"><i class="fa fa-info-circle"></i></a>
               </div>
            </div>
         </div>
      </div>
      <div class="wow col-sm-4 
         product product__3 animated">
         <div class="prod_inside clearfix">
            <div class="product_img">
               <a class="img_change" href="#products/bouquet-of-long-stemmed-roses-dozen-with-vase">
               <span class="ins">
               <img src="{{ asset('assets/images/bouquet_of_long_stemmed_roses__dozen__-_with_vase_1_medium.png') }}" alt="Bouquet of Long Stemmed Roses (Dozen) - With Vase">
               <img class="img__2" src="{{ asset('assets/images/bouquet_of_long_stemmed_roses__dozen__-_with_vase_2_medium.png') }}" alt="Bouquet of Long Stemmed Roses (Dozen) - With Vase">
               </span>
               <span class="product_badge new">New</span>
               </a>
            </div>
            <div class="product_info">
               <div class="product_price">
                  <span class="money" data-currency-usd="$17.00">$17.00</span>
               </div>
               <div class="product_name">
                  <a href="#products/bouquet-of-long-stemmed-roses-dozen-with-vase">Bouquet of Long Stemme...</a>
               </div>
               <div class="product_desc">But the most traditional th...</div>
               <div class="product_links">
                  <form method="post" action="#cart/add">
                     <input type="hidden" name="id" value="1166525216">
                     <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i></button>
                  </form>
                  <a class="btn" href="#products/bouquet-of-long-stemmed-roses-dozen-with-vase"><i class="fa fa-info-circle"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="product_listing_main">
   <div class="row">
      <div class="wow col-sm-4 
         product product__1 animated">
         <div class="prod_inside clearfix">
            <div class="product_img">
               <a class="img_change" href="#products/calla-lilies-with-matching-greens">
               <span class="ins">
               <img src="{{ asset('assets/images/calla_lilies_with_matching_greens_1_medium.png') }}" alt="Calla Lilies with Matching Greens">
               <img class="img__2" src="{{ asset('assets/images/calla_lilies_with_matching_greens_2_medium.png') }}" alt="Calla Lilies with Matching Greens">
               </span>
               <span class="product_badge sale">Sale</span>
               <span class="product_badge new">New</span>
               </a>
            </div>
            <div class="product_info">
               <div class="product_price">
                  <span class="money" data-currency-usd="$18.00">$18.00</span>
                  <span class="money compare-at-price" data-currency-usd="$25.00">$25.00</span>
               </div>
               <div class="product_name">
                  <a href="#products/calla-lilies-with-matching-greens">Calla Lilies with Matc...</a>
               </div>
               <div class="product_desc">Flowers are universal gift ...</div>
               <div class="product_links">
                  <form method="post" action="#cart/add">
                     <input type="hidden" name="id" value="1166525272">
                     <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i></button>
                  </form>
                  <a class="btn" href="#products/calla-lilies-with-matching-greens"><i class="fa fa-info-circle"></i></a>
               </div>
            </div>
         </div>
      </div>
      <div class="wow col-sm-4 
         product product__2 animated">
         <div class="prod_inside clearfix">
            <div class="product_img">
               <a class="img_change" href="#products/classic-roses">
               <span class="ins">
               <img src="{{ asset('assets/images/classic_roses_1_medium.png') }}" alt="Classic Roses">
               <img class="img__2" src="{{ asset('assets/images/classic_roses_2_medium.png') }}" alt="Classic Roses">
               </span>
               <span class="product_badge new">New</span>
               </a>
            </div>
            <div class="product_info">
               <div class="product_price">
                  <span class="money" data-currency-usd="$19.00">$19.00</span>
               </div>
               <div class="product_name">
                  <a href="#products/classic-roses">Classic Roses</a>
               </div>
               <div class="product_desc">Flowers are unique and they...</div>
               <div class="product_links">
                  <form method="post" action="#cart/add">
                     <input type="hidden" name="id" value="1166525328">
                     <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i></button>
                  </form>
                  <a class="btn" href="#products/classic-roses"><i class="fa fa-info-circle"></i></a>
               </div>
            </div>
         </div>
      </div>
      <div class="wow col-sm-4 
         product product__3 animated">
         <div class="prod_inside clearfix">
            <div class="product_img">
               <a class="img_change" href="#products/coffee-cup-planter">
               <span class="ins">
               <img src="{{ asset('assets/images/coffee_cup_planter_1_medium.png') }}" alt="Coffee Cup Planter">
               <img class="img__2" src="{{ asset('assets/images/coffee_cup_planter_2_medium.png') }}" alt="Coffee Cup Planter">
               </span>
               <span class="product_badge new">New</span>
               </a>
            </div>
            <div class="product_info">
               <div class="product_price">
                  <span class="money" data-currency-usd="$20.00">$20.00</span>
               </div>
               <div class="product_name">
                  <a href="#products/coffee-cup-planter">Coffee Cup Planter</a>
               </div>
               <div class="product_desc">They are one of the best na...</div>
               <div class="product_links">
                  <form method="post" action="#cart/add">
                     <input type="hidden" name="id" value="1166525452">
                     <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i></button>
                  </form>
                  <a class="btn" href="#products/coffee-cup-planter"><i class="fa fa-info-circle"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
<!-- Column left -->
{% block column_left %}
{{ include('FrontBundle:Default:column_left.html.twig') }}
{% endblock %}                     
</div>
</div>
</div>
{% endblock %}