<div id="megamenu">
   <div class="container">
      <ul class="sf-menu megamenu_desktop">
         <li class="megamenu__1">
            {% if homeMenuClass is defined %}
            <a href="{{ url('front_homepage') }}" class="active">{{ 'homepage.label'|trans }}</a>
            {% else %}
            <a href="{{ url('front_homepage') }}">{{ 'homepage.label'|trans }}</a>
            {% endif %}
         </li>
         {% if megaMenu is defined and megaMenu %}
         {% for menu in megaMenu %}
         <li class="{{ loop.index }}">
            <a href="{{ url('front_category', {'slug': menu.info.slug}) }}" class="{{ menu.info.activeClass }}">{{ menu.info.name }}</a>
         </li>
         {% endfor %}
         {% endif %}
         <li class="megamenu__3">
            <a href="{{ url('front_contact_us') }}">{{ 'contact_us.label'|trans }}</a>
         </li>
         <li class="megamenu__4">
            <a href="{{ url('front_delivery') }}">{{ 'delivery.label'|trans }}</a>
         </li>
      </ul>
   </div>
</div>