<div id="megamenu">
   <div class="container">
      <ul class="sf-menu megamenu_desktop">
         <li class="megamenu__1">
            <a href="{{ url('front_homepage') }}" class="active">{{ 'homepage.label'|trans }}</a>
         </li>
         <li class="megamenu__2">
            <a href="#">{{ 'product.label'|trans }}<span class="menu_badge">{{ 'hot.deals.label'|trans }}</span></a>
            <ul>
               <li>
                  <div class="submenu">
                     <div class="row">
                     {% if megaMenu is defined and megaMenu %}
                     {% for menu in megaMenu %}
                        <div class="col-sm-3">
                           <h3><a href="{{ url('front_category', {'slug': menu.info.slug}) }}">{{ menu.info.name }}</a></h3>
                           <ul>
                              {% if menu.products is defined and menu.products %}
                              {% for product in menu.products %}
                                <li><a href="{{ url('front_product_detail', {'category': product.catSlug, 'slug': product.slug}) }}">{{ product.name }}</a></li>
                              {% endfor %}
                              {% endif %}
                           </ul>
                        </div>
                     {% endfor %}
                     {% endif %}
                     </div>
                  </div>
               </li>
            </ul>
         </li>
         <li class="megamenu__3">
            <a href="{{ url('front_contact_us') }}">{{ 'contact_us.label'|trans }}</a>
         </li>
      </ul>
   </div>
</div>