<div id="megamenu">
   <div class="container">
      <ul class="sf-menu megamenu_desktop visible-md visible-lg">
         <li class="megamenu__1">
            {% if homeMenuClass is defined %}
            <a href="{{ url('front_homepage') }}" class="active">{{ 'homepage.label'|trans }}</a>
            {% else %}
            <a href="{{ url('front_homepage') }}">{{ 'homepage.label'|trans }}</a>
            {% endif %}
         </li>
         {% if megaMenu is defined and megaMenu %}
         {% for menu in megaMenu %}
            {% if menu.info.subData is defined and menu.info.subData %}
               <li class="megamenu__{{ loop.index }}">
                  <a href="#">{{ menu.info.name }}</a>
                  <ul>
                     <li>
                        <div class="submenu">
                           <div class="row">
                           {% for submenu in menu.info.subData %}
                              <div class="col-sm-3">
                                 <h3><a href="{{ url('front_category', {'slug': submenu.slug}) }}">{{ submenu.name }}</a></h3>
                              </div>
                           {% endfor %}
                           </div>
                        </div>
                     </li>
                  </ul>
               </li>
            {% else %}
               <li class="megamenu__{{ loop.index }}">
                  <a href="{{ url('front_category', {'slug': menu.info.slug}) }}" class="{{ menu.info.activeClass }}">{{ menu.info.name }}</a>
               </li>
            {% endif %}
         {% endfor %}
         {% endif %}
         <li class="megamenu__3">
            <a href="{{ url('front_contact_us') }}">{{ 'contact_us.label'|trans }}</a>
         </li>
         <li class="megamenu__4">
            <a href="{{ url('front_delivery') }}">{{ 'delivery.label'|trans }}</a>
         </li>
      </ul>
      <div class="megamenu_mobile visible-xs visible-sm">
         <h2 class="">Sunny Flowers<i></i></h2>
         <ul class="submenu__1">
            <li class="megamenu__1">
               <a href="{{ url('front_homepage') }}">{{ 'homepage.label'|trans }}</a>
            </li>
            {% if megaMenu is defined and megaMenu %}
            {% for menu in megaMenu %}
            <li class="megamenu__2">
               {% if menu.info.subData is defined and menu.info.subData %}
                  <a href="{{ url('front_category', {'slug': menu.info.slug}) }}">{{ menu.info.name }}<i></i></a>
                  <ul class="submenu__2">
                     {% for submenu in menu.info.subData %}
                        <li><a href="{{ url('front_category', {'slug': submenu.slug}) }}">{{ submenu.name }}</a></li>
                     {% endfor %}
                  </ul>
               {% else %}
                  <a href="{{ url('front_category', {'slug': menu.info.slug}) }}">{{ menu.info.name }}</a>
               {% endif %}
            </li>
            {% endfor %}
            {% endif %}
            <li class="megamenu__5">
               <a href="{{ url('front_contact_us') }}">{{ 'contact_us.label'|trans }}</a>
            </li>
            <li class="megamenu__6">
               <a href="{{ url('front_delivery') }}">{{ 'delivery.label'|trans }}</a>
            </li>
         </ul>
      </div>
   </div>
</div>