{% if banners is defined and banners.slider is defined and banners.slider %}
<div class="slider_parallax_wr">
 <div class="slider_wrap">
  <div class="nivoSlider">
   {% for slider in banners.slider %}
   <a href="{{ slider.link|default('#') }}" class="nivo-imageLink">
     <img src="{{ banner_path }}/{{ slider.image }}" alt="{{ slider.title }}" title="#htmlcaption-{{ slider.id }}">
   </a>
  {% endfor %}
</div>
</div>
</div>
<div class="caption_hidden">
{% for slider in banners.slider %}
<div id="htmlcaption-{{ slider.id }}">
  <a href="{{ slider.link|default('#') }}">
    <div class="nivo-ins">
      <div class="container">
        <div class="nivo-bg">
          <h3>{{ slider.title }}</h3>
        </div>
      </div>
    </div>
  </a>
</div>
{% endfor %}
</div>
<script type="text/javascript">
 $(document).ready(function() {
   $('.nivoSlider').nivoSlider({
     effect:'fade',
     animSpeed:500,
     pauseTime:7000,
     startSlide:0,
     pauseOnHover:true,
     directionNav:false,
     directionNavHide:false,
     controlNav:true
   });

   if(device.desktop() && $(window).width() >= 1200){
           // PARALLAX INIT
           $(window).bind('scroll',function(e){
             parallaxScroll1();
           });

           function parallaxScroll1(){
             var scrolled = $(window).scrollTop();
             $('.slider_parallax_wr .slider_wrap').css('top',(-190+(scrolled*.9))+'px');
             $('.slider_parallax_wr .nivo-controlNav').css('top',(760-(scrolled*.9))+'px');
             $('.slider_parallax_wr .nivo-caption').css('top',(802-(scrolled*.9))+'px');
           }
         };
       });

</script>
{% endif %}