<div id="pagination">
    {% if currentPage > 1 %}
        <span class="prev"><a href="{{ url('front_category', {'slug': categorySlug, 'page': currentPage-1}) }}" title="{{ 'prev.label'|trans }}">« {{ 'prev.label'|trans }}</a></span>
    {% endif %}

    {% for i in 1..totalPage %}
        {% if i ==  currentPage %}
            <span class="page current">{{ i }}</span>
        {% else %}
            <span class="page"><a href="{{ url('front_category', {'slug': categorySlug, 'page': i}) }}" title="{{ 'page.label'|trans }} {{ i }}">{{ i }}</a></span>
        {% endif %}
    {% endfor %}

    {% if currentPage != totalPage %}
        <span class="next"><a href="{{ url('front_category', {'slug': categorySlug, 'page': currentPage+1}) }}" title="{{ 'next.label'|trans }}">{{ 'next.label'|trans }} »</a></span>
    {% endif %}
</div>